---
import experiences from "../scripts/Experience";
import Card from "./Card.astro";
---

<div class="flex flex-col w-full gap-6 my-6">
  <h1 class="text-white text-2xl font-bold">Experiencia</h1>

  {
    experiences.map((experience) => (
      <Card
        title={experience.title}
        charge={experience.charge}
        performance={experience.performance}
        start={experience.start}
        since={experience.since}
      />
    ))
  }
</div>
