---
import proyects from "../scripts/proyects";
import Cardproyects from "./Cardproyects.astro";
---

<div class="flex flex-col w-full gap-6">
  <h1 class="text-white text-2xl font-bold">Proyectos</h1>

  {
    proyects.map((proyecto) => (
      <div>
        <Cardproyects
          title={proyecto.title}
          owner={proyecto.owner}
          description={proyecto.description}
          tecnologies={proyecto.tecnologies}
          links={proyecto.links}
          img={proyecto.img}
        />
      </div>
    ))
  }
</div>
