---
import studies from "@/scripts/studies";
import Card from "./Card.astro";
---

<div class="flex flex-col w-full gap-6 my-6">
  <h1 class="text-white text-2xl font-bold">Formación</h1>

  {
    studies.map((studies) => (
      <Card
        title={studies.title}
        charge={studies.charge}
        performance={studies.performance}
        start={studies.start}
        since={studies.since}
        iconName={studies.iconName}
      />
    ))
  }
</div>
